
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


:root {
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    --total: polygon(0 0, 100% 0, 100% 99%, 0% 100%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    width: 100%;
    font-family: "Monserrat", sans-serif;
    height: auto;
    background: #fafafa;
    position: relative;
   
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 15px 15px;
    justify-content: center;
    gap: 370px;
    font-size: 1.1rem;
    cursor: pointer;
    text-align: center;
    position: fixed;
    z-index: 20;
    top: 0;
    background: #fafafa;

    .marca {
        display: flex;
        align-items: center;
        text-align: left;
        gap: 5px;
        color: #15407c;
        
        text-wrap: nowrap;

        h3 {
            font-size: 1.3rem; 
        }

    }

    .encabezado{
        display: flex;
        align-items: center;
        gap: 40px;
        
        a {
            color: #10256a; 
            padding:  5px 20px;

        }
    }

    
}

.marca img {
    width: 50px;
    height: 50px;
}

.encabezado a:hover {
    color:#027d7d;
    border-bottom: 2px solid #60efe8;
}



/*main*/

.container-inicio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 90px;
    flex-wrap: nowrap;
    margin-bottom: 40px;
    width: 100%;
}

.titulo{
margin: 50px auto;
width: 50%;



h1 {
    font-size: 1.9rem;
    margin-bottom: 15px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 500;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    white-space: 8px;
    color: #124d84;
   }
}

h3 {
    font-size: 1rem;
    color: #1b3c62;
    font-family: "Monserrat", sans-serif;
    margin: 30px auto;
    text-align: center;
    width: 60%;

}



.titulo button {
    position: relative;
    text-align: center;
    text-wrap: nowrap;
    padding: 13px 25px;
    border-radius: 8px;
    margin: 20px 20%;
    border: none;
    background-color: #173250;
    filter: drop-shadow(5px 5px 5px #8080809c);
    cursor: pointer;
   
     
}

.titulo button::before, .asesoramiento .boton::before {
    content: "";
    display: block;
    background-color: #0d6980; 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    z-index: -1;
    clip-path: var(--clippy);
    transition-property: clip-path;
    transition: ease 700ms;
}

.titulo button:hover::before, .asesoramiento .boton:hover::before {
    
    text-wrap: nowrap;
    clip-path: var(--total);      
    
}


.titulo button a, .asesoramiento .boton a {
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
   
}
 

 .imagen {
    width: 60%;
 }

.container-inicio img {
    width: 90%;
    height: 60%;
    text-align: center;
    margin-right: 100px;
   
 
}

.motivos {
    background-color: #dce3edc1;
    height: 530px;
    padding-top: 70px;
    width: 100%;
    margin-bottom: 30px;
   
}

.motivos h2 {
    text-align: center;
    color: #124d84;
    margin-bottom: 95px;

    
}

.lista {
    display: flex;
    gap: 85px;
    font-size: 1.2rem;
    line-height: 4;
    color: #173250;
    justify-content: center;
    margin-top: -30px;
    
   
        
    li {
        display: flex;
        align-items: center;
       
       
    }

    li img {
        width: 35px;
        height: 35px;
        border-radius: 0;
        filter: none;
      
     
    }
    
}

.motivos img {
    width: 360px;
    height: 300px;
    border-radius: 50px 0 50px 0;
    filter: drop-shadow(10px 10px 10px #808080b7);
   

}


.incluir{
    text-align: center;
    color: #124d84;
    margin: 100px 0 20px 0;
  
}

.beneficios{
    margin-top: 90px;

    ul {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 50px auto;
        font-size: 1.1rem;
        color: #173250;
        line-height: 1;
        text-align: center;

        li{
            display: block;
            text-align: center;
            width: 25%;
            height: 15vw;
            border: 1px solid gray;
            border-radius: 7px;
            box-shadow: 5px 5px 5px#c9c6c6;

            img{
                display: block;
                text-align: center;
                margin: 10px auto;
            }

        }
    }

}

.titulo{
text-align: center;
color: #124d84;
margin: 30px auto;

}

.asesoramiento {
    background-color: #dce3edc1;
    height: 45vw;
    padding-top: 70px;
    width: 100%;
    padding: 30px 60px;
    font-size: 1.2rem;
    space-between: 20px;
    margin-top: 60px;

    p {
        margin-top: 20px;
        color: #173250;
        text-align: left;
    }

    .strong {
        text-align: center;
    }

    a {
        color: #173250;
        font-weight: 600;
    }

    button {
        position: relative;
        text-align: center;
        align-items: center;
        text-wrap: nowrap;
        padding: 13px 25px;
        border-radius: 8px;
        margin: 50px 36%;
        border: none;
        background-color: #173250;
        filter: drop-shadow(5px 5px 5px #8080809c);
        cursor: pointer;
    }
}


.whatsapp {
  
    position: fixed;
    right: 15px;
    bottom: 40px;
    animation: none;
    z-index: 20;

    i{
    font-size: 3rem;
    color: #28ef28;
          
    }

   

    a{
        font-size: 1.1rem;
        color:#18338c;
        display: flex;
        align-items: center;
        padding: 5px 5px;
        
               
    }
}



.whatsapp:hover {
    transform: scale(1.1);

}

/*personalizacion de title*/

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: #fbf8f8;
    color: #180562;
    font-size: 17px;
    position: absolute;
    padding: 12px 7px;
    right: 4vw;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #666565a8;
    opacity: 0;
    border: none;
    z-index: 99999;
    visibility: hidden;
    border-radius: 25px;
    
}

[data-title] {
    position: relative;
}


/*footer*/

footer {
    background: #0b1844;
    width: 100%;
    height: 12vw;
    color: whitesmoke;
    text-align: center;
    padding: 3vw 0;
    line-height: 1.5;

    img {
        width: 30px;
        height: 32px;
    }
    
}

span {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    font-size: 1.2rem;
}





